<div style="padding: 8px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Test Note</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding style="padding: 24px;">
        <p>
            Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.
        </p>
        <ul>
            <li>First Item</li>
            <li>Second Item</li>
        </ul>
    </md-content>
</div>
